.btn:focus {
  box-shadow: none;
}

.btn:hover {
  filter: brightness(95%);
}

.btn:active {
  transform: scale(0.98);
}

ul {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}

img {
  max-width: 100%;
  height: auto;
}

legend {
  font-weight: bold;
}
