.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}


// #remover {
//             margin: 0 auto;
//             background-color: #fb5b3f;
//             color: #fff;
//             font-weight: bold;
//             padding: 0.5em;
//             border: 2px solid #fff;
//             border-radius: 0.5em;
//             box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
//             cursor: pointer;
//             left: 0.7em;
//             top: 9em;
//             padding: 8px 24px;
//         }
//         #remover:hover {
//             background-color: salmon;
//         }

.coordinates {
background: rgba(0, 0, 0, 0.5);
color: #fff;
top: 40px;
left: 10px;
padding: 5px 10px;
margin: 0;
font-size: 11px;
line-height: 18px;
border-radius: 3px;
display: none;
width: 10%;
}
