.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}



.coordinates {
background: rgba(0, 0, 0, 0.5);
color: #fff;
top: 40px;
left: 10px;
padding: 5px 10px;
margin: 0;
font-size: 11px;
line-height: 18px;
border-radius: 3px;
display: none;
width: 10%;
}

.mapboxgl-control-container {
        display: none !important;
      }

.mapcontainer {
  height: 80vh;
}



#menu {
position: absolute;
z-index: 1;
bottom: 1%;
right: 0;
margin-right: 2px;
background: rgba(192,192,192, 0.3);
height: 20px;
}
