<div class="container mt-5 pb-5 px-5 px-sm-0 mb-5" >
  <h2>Añade un lugar</h2>
  <%= render 'form' %>
  <div class="d-flex justify-content-center">
    <%= link_to 'Ver todos los lugares', places_path, class:'btn-info', style:'border-radius: 5px; padding: 7px 12px' %>
  </div>
</div>
